
# InfluxDB
-A INPUT -p tcp -m multiport --dports {{influxdb.admin_port}},{{influxdb.api_port}},{{influxdb.proto_port}} -j ACCEPT
-A INPUT -p udp -m multiport --dports {{influxdb.admin_port}},{{influxdb.api_port}},{{influxdb.proto_port}} -j ACCEPT

